<h1><%= @tag.name.capitalize %> Questions</h1>
<ul>
	<% @questions.each do |question| %>
		<li>
			<b> <%= question.content %> </b>
			<form action="/assignments/<%= @assignment.id %>/questions/<%= question.id %>" method="post">
				<input type="submit" value="Add This Question">
			</form>
			<p> Rigor: <%= question.rigor %> </p>
			<form></form>
		</li>
	<% end %>
</ul>